<h1>Quiz</h1>

<p>
    <%= index + 1 %> of <%= cards.length %>
</p>

<div style="border: 1px solid black">
    <%= card.question %>
</div>

<div style="border: 1px solid black">
    <%= card.answer %>
</div>

<p>
    <a href="/quiz/<%= index + 1%>">next</a>
</p>
